<div id="restaurants">
  {{#each model as |restaurant|}}
    <div class="ui segment">
      {{#link-to "restaurant" restaurant }}
        {{ restaurant.name }}
      {{/link-to}}

      {{link-to "Rate" "restaurant-rate" restaurant class="ui button" }}
    </div>
  {{/each }}
</div>
